<VirtualHost *:8080>

ServerName dmitry5078.ru
ServerAlias www.dmitry5078.ru
ServerAdmin dmitry1026@gmail.com
SetHandler "proxy:fcgi://127.0.0.1:9000"
ScriptAlias /cgi-bin/ "/var/www/cgi-bin/"
AddHandler php74-fcgi .php
Action php74-fcgi /cgi-bin/php74.fcgi
DocumentRoot /var/www/dmitry5078_ru_apache

<IfModule remoteip_module>
    RemoteIPHeader X-Forwarded-For
</IfModule>

ErrorLog /var/log/httpd/dmitry5078_ru_apache_error.log
CustomLog /var/log/httpd/dmitry5078_ru_apache_access.log combined
</VirtualHost>
