<VirtualHost *:8080>

ServerName dmitry5078.ru
ServerAlias www.dmitry5078.ru
ServerAdmin dmitry1026@gmail.com
DocumentRoot /var/www/dmitry5078_ru_apache

<IfModule remoteip_module>
    RemoteIPHeader X-Forwarded-For
</IfModule>

ErrorLog /var/log/httpd/dmitry5078_ru_apache_error.log
CustomLog /var/log/httpd/dmitry5078_ru_apache_access.log combined
</VirtualHost>
