server {
    server_name dmitry5090.ru www.dmitry5090.ru;
    root /var/www/dmitry5090.ru;
    index index.html;

    # HTTP configuration
 listen 80;
 listen [::]:80;

    if ($host ~* ^www.(.*)$) {
return 301 $scheme://$server_name$request_uri;
}

    # HTTP to HTTPS
    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    # HTTPS configuration
    listen [::]:443 ssl; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/dmitry5090.ru/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/dmitry5090.ru/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    location / {
    }

}

